.contact-me {
    width: 100%;
    height: 200px;
    margin: auto;
    background-image: url("project in your mind.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-me p {
    color: #fff;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }
  .contact-me button {
    width: 200px;
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  footer p {
    font-family: cursive;
  }
  footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
  }
  footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
  }
  .social_icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
  }
  .social_icons {
    display: flex;
  }
  .copyright {
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
  .social_icons i {
    color: #000000;
  }
  .social_icons a:hover,
  .a_social_b a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
  }
  .social_icons a:hover i,
  .a_social_b a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
  }
  .a_social_b {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
  .a_social_b a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  }
  .a_social_b i {
    color: #2b2b2b;
    font-size: 20px;
  }