* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body {
    background: -webkit-linear-gradient(bottom, #e78f8f, #9b59b6);
    background-position: center;
    background-size: cover;
  }
  .container {
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  h3 {
    text-align: center;
    margin-bottom: 5px;
    color: #777;
  }
  .container form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5s;
  }
  #forgot-pass {
    color: #16a085;
    font-family: cursive;
    font-size: 8pt;
    margin-top: 3px;
    text-align: right;
  }
  #signup {
    color: #16a085;
    font-family: cursive;
    font-size: 8pt;
    margin-top: 3px;
    text-align: right;
  }
  form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  ::placeholder {
    color: #777;
  }
  .btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
  }
  form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  #Form2 {
    left: 450px;
  }
  #Form3 {
    left: 450px;
  }
  label {
    font-family: monospace;
  }
  select {
    font-family: monospace;
  }
  .step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
  }
  .step-col {
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
  }
  #progres {
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    transition: 1s;
  }
  #progres::after {
    content: "";
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
  }
  